@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f7f1;
  /* background-color: #f9fbfc; */
}

:root {
  --border-style1: 1px solid #e1e9ed9e;
  --border-style2: 2px solid #e1e9ed9e;
  --bs-warning-bg-subtle: #fff3cd;
}

.bg-yellow {
  background-color: var(--bs-warning-bg-subtle);
  border: 2px solid #ffc107;
}
.bg-yellow:hover {
  background-color: white;
}

.bg-greentea {
  background-color: #c6d0bc;
}

.navigation:hover {
  text-decoration: underline;
  text-underline-offset: 1.6rem;
  font-weight: 600;
  transition: all ease 0.2s;
}
.bs-info-bg-subtle {
  background-color: #ebf5fa;
}
.bs-info-bg-subtle:hover {
  background-color: #cff4fc;
}

.card-style {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.text-container {
  width: 100%;
  height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap;  */
  word-wrap: break-word;
}

.tags-style {
  font-size: 13px;
}

.card-styles {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.scrollable-content {
  height: 180px;
  margin-top: -20px;
  overflow-y: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 200vh;
  padding-right: 100px;
  padding-left: 20px;
  overflow-y: auto;
  margin-top: 250px;
  padding-bottom: 100px;
  transition: transform 0.3s;
  /* margin-bottom: -200px; */
  /* background-color: #f8f9fa; */
}

.btn-custom {
  background-color: #37474f;
}
.btn-custom:hover {
  background-color: #263238;
}

.custom-color {
  background-color: #37474f1f;
}

/* color : 263238 */
.sidebar-hide {
  transform: translate(10px, -70px);
}

.img-footer {
  width: 100px;
}

.hero-login {
  background-image: url(./images/login.gif);
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%;
  margin-top: 80px;
}
.hero-register {
  background-image: url(./images/register.gif);
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%;
  margin-top: 80px;
}

.login-form-style {
  margin-top: 5rem;
}

.form-login {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.link-styles {
  text-decoration: none;
}

.sidebar-user {
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  margin: 100px;
}

.flex-grow-1 {
  margin-right: 50px;
  margin-left: -30px;
  padding: 5px;
}

.btn-cancel {
  background-color: white;
  border: var(--border-style2);
}
.btn-cancel:hover {
  background-color: white;
  /* border: 2px solid rgb(236, 232, 232); */
}

.border-2px {
  border: var(--border-style2);
}

.img-upload {
  max-width: 100px;
  border-radius: 50%;
}

/* navbar-left */
.navbar-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  height: 100vh;
  background-color: #4f4f4e;
  /* padding-top: 50px; */
  border-right: var(--border-style1);
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-bottom: 1px;
  padding: 0 20px;
  margin-top: 1px;
}

.menu-list li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.menu-list li a:hover {
  /* background-color: white; */
  font-weight: bold;
  border-radius: 10px;
}

.menu-list li.active a {
  /* background-color: #555; */
  color: #f5d78b;
  /* border-radius: 10px; */
  font-weight: bold;
}

.dashboard-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.display-endline {
  white-space: pre-line;
}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 0.2rem 0.2rem;
  border-radius: 40px;
}
